<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (C) 2018 The CloudKit Open Source Project
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~  limitations under the License.
  -->

<!-- http://logback.qos.ch/translator/asGroovy.html -->

<!-- java -Dlogback.configurationFile=/path/to/config.xml chapters.configuration.MyApp1 -->
<configuration debug="true" scan="true" scanPeriod="30 seconds">

    <!--<include resource="org/springframework/boot/logging/logback/base.xml" />-->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener"/>

    <!-- ${APP_USER_HOME}/ -->
    <!-- <property resource="conf.properties" /> -->

    <jmxConfigurator/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n%L</pattern>
        </encoder>
        <!--
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        -->
    </appender>

    <appender name="ALL" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/serve.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/serve.%d{yyyy-MM-dd_HH}.%i.zip</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>60</maxHistory>
            <totalSizeCap>20GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n%L</pattern>
        </encoder>
    </appender>

    <appender name="ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/serve.error.log</file>
        <!-- ch.qos.logback.core.rolling.TimeBasedRollingPolicy -->
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- logs/serve.%d{yyyy-MM-dd_HH}.%i.error.zip -->
            <fileNamePattern>logs/serve.%d{yyyy-MM-dd}.%i.error.zip</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>60</maxHistory>
            <totalSizeCap>20GB</totalSizeCap>
        </rollingPolicy>
        <!--
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>warn</level>
        </filter>
        -->
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n%L</pattern>
        </encoder>
    </appender>

    <!--<logger name="org.springframework.data.rest" level="ERROR"/>-->
    <!--<logger name="org.springframework.data" level="ERROR"/>-->
    <!-- project default level -->
    <!--<logger name="net.cloudkit.serve" level="INFO" />-->
    <!--log4jdbc -->
    <logger name="jdbc.sqltiming" level="ERROR"/>

    <!-- cxf inbound/outbound logger -->
    <!-- <logger name="org.apache.cxf.services" level="INFO" /> -->

    <!-- root -->
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="ALL"/>
        <appender-ref ref="ERROR"/>
    </root>

    <!--
    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
    </root>
    -->
</configuration>
